@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  /* src: url('../src/assets/fonts/Lato/Lato-Regular.woff');
  src: url('../src/assets/fonts/Lato/Lato-Regular.woff2');
  src: url('./assets/fonts/Lato/Lato-Black.woff');
  src: url('./assets/fonts/Lato/Lato-Black.woff2'); */
  src: url('./assets/fonts/Lato/Lato-Bold.woff');
  src: url('./assets/fonts/Lato/Lato-Bold.woff2');
}

/* img {
  src: url(../src/assets/icons/home.png);
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* h1,h2,h3,h4,h5,h6,p{
  font-family: 'inter';
} */
.login{
  background: #000 url(../src/assets/background/image\ 8.png) no-repeat fixed center;
  background-size: cover;
  
}
.signup{
  background: #000 url(../src/assets/background/image\ 9.png) no-repeat fixed center;
  background-size: cover;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 50%; /* Rounded shape for the checkbox */
  cursor: pointer;
  outline: none;
  margin-top: 3px; /* Adjust vertical alignment */
}

.checkbox-input:checked {
  background-color: #007bff;
  border-color: #636363;
}


.profileStyle {
  background: #000 url(../src/assets/background/bgimg.jpg) no-repeat fixed center;
  background-size: cover;
};

.progress-bar{
  appearance: none;

}

.progress-bar::-webkit-progress-bar{
  background-color: #D9D9D9;
  height: 4px;
}
.progress-bar::-webkit-progress-value{
  background-color: #F94F64;
 
}