@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('../src/assets/fonts/Lato/Lato-Regular.woff');
  src: url('../src/assets/fonts/Lato/Lato-Regular.woff2');
}

/* img {
  src: url(../src/assets/icons/home.png);
} */

body{
  font-family: 'Lato', sans-serif;
}